In [5]:
name_dict = {
  'Luke': 3,
  'Kelly': 4,
  'Ken': 6,
  'Alex': 3,
  'Nino': 7,
}
years_list = list(name_dict.items())

In [13]:
year = 0
index = 0
while year < 5:
  key, year = years_list[index]
  if year >= 5:
    print(key, 'has', year, 'years of exp')
  index+=1

Ken has 6 years of exp

In [14]:
numbers = [x for x in range(51)]

In [15]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [16]:
numbers = []
for number in range(100):
  numbers.append(number)

In [17]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [21]:
numbers = [float(x*2) for x in range(100)]
numbers

[0.0,
 2.0,
 4.0,
 6.0,
 8.0,
 10.0,
 12.0,
 14.0,
 16.0,
 18.0,
 20.0,
 22.0,
 24.0,
 26.0,
 28.0,
 30.0,
 32.0,
 34.0,
 36.0,
 38.0,
 40.0,
 42.0,
 44.0,
 46.0,
 48.0,
 50.0,
 52.0,
 54.0,
 56.0,
 58.0,
 60.0,
 62.0,
 64.0,
 66.0,
 68.0,
 70.0,
 72.0,
 74.0,
 76.0,
 78.0,
 80.0,
 82.0,
 84.0,
 86.0,
 88.0,
 90.0,
 92.0,
 94.0,
 96.0,
 98.0,
 100.0,
 102.0,
 104.0,
 106.0,
 108.0,
 110.0,
 112.0,
 114.0,
 116.0,
 118.0,
 120.0,
 122.0,
 124.0,
 126.0,
 128.0,
 130.0,
 132.0,
 134.0,
 136.0,
 138.0,
 140.0,
 142.0,
 144.0,
 146.0,
 148.0,
 150.0,
 152.0,
 154.0,
 156.0,
 158.0,
 160.0,
 162.0,
 164.0,
 166.0,
 168.0,
 170.0,
 172.0,
 174.0,
 176.0,
 178.0,
 180.0,
 182.0,
 184.0,
 186.0,
 188.0,
 190.0,
 192.0,
 194.0,
 196.0,
 198.0]

In [22]:
numbers = [x for x in 'PYTHON']
numbers

['P', 'Y', 'T', 'H', 'O', 'N']

In [23]:
numbers = {x for x in 'PYTHON'}
numbers

{'H', 'N', 'O', 'P', 'T', 'Y'}

In [26]:
def sum_even_numbers(nums):
  result = sum(x for x in nums if x%2==0)
  return result

numbers = [10, 21, 34, 45, 50, 67, 78]
print(sum_even_numbers(numbers))  # Expected Output: 172

172

In [31]:
def reverse_list(lst):
    lst.reverse()
    return lst

nums = [1, 2, 3, 4, 5]
print(reverse_list(nums))  # Expected Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [36]:
def count_occurrences(lst, element):
    count = 0
    for x in range(len(lst)):
      if lst[x] == element:
        count+=1
    return count

numbers = [4, 2, 8, 4, 6, 4, 9, 4, 3]
print(count_occurrences(numbers, 4))  # Expected Output: 4

4

In [37]:
def max_in_tuple(tpl):
    maxNum = max(tpl)
    return maxNum

values = (10, 25, 36, 49, 82, 55)
print(max_in_tuple(values))  # Expected Output: 82

82

In [40]:
def modify_tuple(tpl, new_value):
    lst = list(tpl)
    lst[2] = new_value
    return tuple(lst)

data = (4, 9, 12, 18, 25)
print(modify_tuple(data, 99))  # Expected Output: (4, 9, 99, 18, 25)

(4, 9, 99, 18, 25)

In [41]:
def remove_duplicates(lst):
    final = set(lst)
    return final

nums = [5, 2, 8, 2, 5, 9, 8, 3, 1]
print(remove_duplicates(nums))  # Expected Output: {1, 2, 3, 5, 8, 9}

{1, 2, 3, 5, 8, 9}

In [44]:
def common_elements(set1, set2):
    set3 = set()
    for x in set1:
        if x in set2:
            set3.add(x)
    return set3

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
print(common_elements(a, b))  # Expected Output: {4, 5}

{4, 5}

In [2]:
def word_count(sentence):
  sentence = sentence.lower()
  words = sentence.split()
  word_count = {}
  for word in words:
    if word in word_count:
      word_count[word] += 1
    else:
      word_count[word] = 1
  return word_count

text = "apple banana apple orange banana apple"
print(word_count(text))  
# Expected Output: {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}

In [7]:
import string
def char_count(input_text):
  input_text = input_text.lower()
  count = {}
  for char in input_text:
    if char.isalpha():
      if char in count:
        count[char] += 1
      else:  
        count[char] = 1
  return count
text = "progr343am/.ming"
print(char_count(text))

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [10]:
import math
def find_missing(input):
  return (input[len(input) -1]*(input[len(input) -1]+1))/2 - sum(input)
numbers = [1,2,3,4,6,7,8,9,10]
print(find_missing(numbers))

5.0

In [17]:
import math
def find_missing(input):
  return (input[0]+input[len(input)-1])*((len(input)+1)/2) - sum(input)
numbers = [3,4,5,7] 
print(find_missing(numbers))

6.0

In [21]:
numbers = [x for x in range(20)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
numbers = []
numbers = [x*2 for x in range(30)]
numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58]

In [27]:
numbers = []
numbers = [float(x) for x in range(30)]
numbers

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0]

In [28]:
numbers = [x for x in 'HELLO WORLD']
numbers

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [29]:
numbers = {x for x in 'HELLO WORLD'}
numbers

{' ', 'D', 'E', 'H', 'L', 'O', 'R', 'W'}

In [30]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num%2==0]# <-- Use list comprehension here

print(even_numbers)  # Expected Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [32]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num*num for num in numbers]# <-- Use list comprehension here

print(squared_numbers)  # Expected Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [33]:
words = ["apple", "banana", "cherry", "date", "fig", "grape"]
long_words = [word for word in words if len(word)>5]# <-- Use list comprehension here

print(long_words)  # Expected Output: ['banana', 'cherry']

['banana', 'cherry']

In [37]:

words = ["hello", "world", "python", "rocks"]
uppercase_words =[word.upper() for word in words]# <-- Use list comprehension here

print(uppercase_words)  # Expected Output: ['HELLO', 'WORLD', 'PYTHON', 'ROCKS']

['HELLO', 'WORLD', 'PYTHON', 'ROCKS']

In [38]:
numbers = list(range(1, 21))  # Numbers from 1 to 20
divisible_by_3 = [num for num in numbers if num%3==0]# <-- Use list comprehension here

print(divisible_by_3)  # Expected Output: [3, 6, 9, 12, 15, 18]

[3, 6, 9, 12, 15, 18]

In [42]:
multiplication_table = []
for i in range(1,11):
  row =[]
  for j in range(1,11):
    row.append(i*j)
  multiplication_table.append(row)


print(multiplication_table)  
# Expected Output: 
# [
#  [1, 2, 3, ..., 10],
#  [2, 4, 6, ..., 20],
#  [3, 6, 9, ..., 30],
#  ...
#  [10, 20, 30, ..., 100]
# ]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [43]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [num for num in list1 if num in list2]

print(common_elements)  # Expected Output: [3, 4, 5]

[3, 4, 5]

In [46]:
numbers = [-5, 3, -1, 8, -2, 0, 7]
modified_list = []# <-- Use list comprehension here
for i in range(len(numbers)):
  if numbers[i]< 0:
    numbers[i] = 0
  modified_list.append(numbers[i])
print(modified_list)  # Expected Output: [0, 3, 0, 8, 0, 0, 7]

[0, 3, 0, 8, 0, 0, 7]

In [47]:
numbers = [-5, 3, -1, 8, -2, 0, 7]
mod_list = [0 if num < 0 else num for num in numbers]
print(mod_list)  # Output: [0, 3, 0, 8, 0, 0, 7]

[0, 3, 0, 8, 0, 0, 7]

In [50]:
numbers = [1,2,3,4,5,6,7]
mod_list = [num*2 if num%2!=0 else num for num in numbers]
print(mod_list)

[2, 2, 6, 4, 10, 6, 14]

In [52]:
words = ["hello", "world", "python"]
reversed_words = [word[::-1] for word in words]

print(reversed_words)  # Expected Output: ['olleh', 'dlrow', 'nohtyp']

['olleh', 'dlrow', 'nohtyp']

In [54]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [68]:
qualified_roles = []
for job in job_roles:
  qualified = True
  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
    qualified_roles.append(job['role'])
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [71]:
qualified_roles=[]
for job in job_roles:
  if all(skill in job['skills'] for skill in my_skills):
    qualified_roles.append(job['role'])
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [73]:
qualified_roles = [job['role'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [74]:
data_salaries = [ 134,13423,4265234,64325]
min(data_salaries)

134

In [97]:

def calculate_salary(base, bonus = .2):
  total_salary = base*(1+bonus)
  return total_salary

In [98]:
calculate_salary(1000)

1200.0

In [100]:
import statistics
def calculate_statistics(numbers):
  mean = statistics.mean(numbers)
  median = statistics.median(numbers)
  mode = statistics.mode(numbers)
  return {"mean:", mean, "median: ", median, "mode", mode}

data = [10, 20, 30, 40, 50, 20, 10, 40, 40]
print(calculate_statistics(data))
# Expected Output: {"mean": X, "median": Y, "mode": Z}

{'median: ', 40, 'mode', 28.88888888888889, 'mean:', 30}

In [109]:
def count_unique(values):
    my_set = []
    for val in values:
        my_set.append(val)
    return len(set(my_set))

data = ["apple", "banana", "apple", "orange", "banana", "grape"]
print(count_unique(data))  # Expected Output: 3

4

In [114]:
def most_frequent(values):
    my_dict = {}
    for i in values:
        if i in my_dict:
            my_dict[i] +=1
             
        else:
            my_dict[i] = 1
    mode = max(my_dict, key = my_dict.get)
    return mode

data = ["cat", "dog", "dog", "rabbit", "dog", "cat", "rabbit"]
print(most_frequent(data))  # Expected Output: "dog"

dog

In [112]:
def most_frequent(values):
    
    return statistics.mode(values)

data = ["cat", "dog", "dog", "rabbit", "dog", "cat", "rabbit"]
print(most_frequent(data))  # Expected Output: "dog"

dog

In [116]:
mul_two = lambda x: x*2

In [117]:
mul_two(3)

6

In [120]:
salary_list = [10000, 20000, 150000, 30000]
def calculate_salary(base, bonus = .1):
  return base * (1+bonus)
total_salary_list = [calculate_salary(salary) for salary in salary_list]
total_salary_list

[11000.0, 22000.0, 165000.0, 33000.0]

In [122]:
salary_list = [10000, 20000, 150000, 30000]
# def calculate_salary(base, bonus = .1):
#   return base * (1+bonus)
total_salary_list = [(lambda x: x*1.1)(salary) for salary in salary_list]
total_salary_list

[11000.0, 22000.0, 165000.0, 33000.0]

In [124]:
job_listings = [
    {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "Machine Learning", "SQL", "Data Visualization"],
        "remote": True
    },
    {
        "job_title": "Data Analyst",
        "job_skills": ["Excel", "SQL", "Tableau", "Statistics"],
        "remote": False
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "Deep Learning", "TensorFlow", "MLOps"],
        "remote": True
    },
    {
        "job_title": "Business Intelligence Analyst",
        "job_skills": ["Power BI", "SQL", "Data Warehousing", "ETL"],
        "remote": False
    },
    {
        "job_title": "AI Research Scientist",
        "job_skills": ["Python", "NLP", "Deep Learning", "Mathematical Modeling"],
        "remote": True
    }
]

# Print job listings
for job in job_listings:
    print(job['job_title'])

Data Scientist
Data Analyst
Machine Learning Engineer
Business Intelligence Analyst
AI Research Scientist

In [127]:
list(filter(lambda job: job['remote']and 'Python' in job['job_skills'], job_listings))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning', 'SQL', 'Data Visualization'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'Deep Learning', 'TensorFlow', 'MLOps'],
  'remote': True},
 {'job_title': 'AI Research Scientist',
  'job_skills': ['Python', 'NLP', 'Deep Learning', 'Mathematical Modeling'],
  'remote': True}]

In [7]:
pip install datasets

Requirement already satisfied: datasets in /opt/homebrew/anaconda3/lib/python3.12/site-packages (3.3.1)
Requirement already satisfied: filelock in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (16.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (4.66.5)
Requirement already satisfied: xxhash in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.12.0,>=2023.1.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from fsspec[http]<=2024.12.0,>=2023.1.0->datasets) (2024.6.1)
Requirement already satisfied: aiohttp in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (3.10.5)
Requirement already satisfied: huggingface-hub>=0.24.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (0.28.1)
Requirement already satisfied: packaging in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from datasets) (6.0.1)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets) (1.11.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from huggingface-hub>=0.24.0->datasets) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2024.8.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df[['job_posted_date']])

: